<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>


    <form action='anotherHello' method='post'>  <!--submit a request to /hello-->
        <input type='text' name='name'>
        <input type='submit' value='Greet me!'>
        <select name='choice'>
            <option value='first'>English</option>
            <option value='second'>Russian</option>
            <option value='third'>French</option>
            <option value='fourth'>German</option>
            <option value='fifth'>Chinese</option>
            </select>
    </form>


</body>
</html>